extends layout.jade

block head
  title= "Home Screen"
  link(href='public/css/index.css', rel='stylesheet')

block body
  #plant-container
    #logo
      | Farmers Market
    #zipcode
      input.textbox(type="text", name="zipcode", placeholder="zipcode")
      a.button(href="#")
        | GO
    #login
      a.button(href="#")
        | Login
    #register
      a.button(href="#")
        | Register
