extends layout.jade

block head
  title= "Home Screen"
  link(href='public/css/index.css', rel='stylesheet')
  
block body
  #plant-container
    #logo Nutritrades
    #zipcode
      form(action="/listings")
        input.textbox(type="text", name="zipcode", placeholder="zipcode")
        button.button(type="submit") Search
    #login-button
      a.button(href="#", id="open-login") Login
    #register-button
      a.button(href="#", id="open-register") Register

block endscript
  script(src="public/js/index.js")
