extends layout.jade

block head
  title= "Home Screen"
  link(href='public/css/index.css', rel='stylesheet')

block body
  #plant-container
    #logo
    #zipcode
      p.error
        
      form(action="/listings")
        input.textbox(type="text", name="zipcode", placeholder="zipcode")
        button.button(type="submit")
          i.fa.fa-search
    #login-button
      a.button( id="open-login") Login
    #register-button
      a.button(id="open-register") Register

block endscript
