doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href="/public/css/font-awesome.min.css", rel="stylesheet")
    meta(charset="utf-8")
    block head
  body
    block body
    #login
      a.exit(href="#")
        | x
      label(for="username")
        | Username
      input(type="text", name="username", id="username")
      label(for="password")
        | Password
      input(type="text", name="password", id="password")
      a.button(href="#")
        | Login
    #register 
      a.exit(href="#")
        | x
      label(for="username")
        | Username
      input(type="email", name="username", id="username")
      label(for="email")
        | Email
      input(type="text", name="email", id="email")
      label(for="password")
        | Password
      input(type="text", name="password", id="password")
      label(for="confirm-password")
        | Confirm Password
      input(type="text", name="confirm-password", id="confirm-password")
      a.button(href="#")
        | Register
    #cover
  block endscript
    script(src="public/js/menu.js")
