doctype html
html(lang="en")
  head
    block always
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
      link(href="/public/css/font-awesome.min.css", rel="stylesheet")
      link(rel="icon", type="image/png", href="public/img/nutritradeslogo.png")
      link(href="public/bower/five-star-rating/css/rating.min.css" rel="stylesheet")
      meta(charset="utf-8")
    block head
  body
    block header
      .header
        .filter
          i.fa.fa-chevron-left
          i.fa.fa-filter
          p#filtertext
            | Filter
        .logo
          a(href="/")
            .logo-container
        .login
          a(href="/message")
            i.fa.fa-envelope-o
          span |
          a(href="/newlisting") New Listing
          span |
          if request.session.username == undefined
            a(href="#", id="open-login")
              | Login
          else
            a(href="/profile") #{request.session.username}
          span
            | |
          if request.session.username == undefined
            a(href="#", id="open-register")
              | Register
          else
            a(href="/logout") Logout
          
        .hamburger
          i.fa.fa-bars
          i.fa.fa-times
          p#hamtext
            | Menu
        ul.menu-list
          li
            a(href="#", id="open-login")
              | Messages
          li
            a(href="#", id="open-login")
              | New Listing
          li
            a(href="#", id="open-login")
              | Login
          li
            a(href="#", id="open-register")
              | Register
    block body
    #login
      a.exit(href="#", id="exit-login")
        | x
      p.error

      label(for="username")
        | Username
      input(type="text", name="username", id="username")
      label(for="password")
        | Password
      input(type="password", name="password", id="password")
      a.button(id="loginbutton")
        | Login
    #register
      a.exit(href="#", id="exit-register")
        | x
      p.error
        
      label(for="username")
        | Username
      input(type="email", name="username", id="username")
      label(for="email")
        | Email
      input(type="text", name="email", id="email")
      label(for="password")
        | Password
      input(type="password", name="password", id="password")
      label(for="confirm-password")
        | Confirm Password
      input(type="password", name="confirm-password", id="confirm-password")
      a.button(id="registerbutton")
        | Register
    #cover
    block alwaysend
      script(src="public/js/menu.js")
      script(src="public/js/login.js")
      script(src="public/bower/five-star-rating/js/dist/rating.min.js")
  block endscript
