extends layout.jade

block head
  title= "Listings"
  link(href='public/css/listings.css', rel='stylesheet')
  link(href='public/css/nouislider.min.css', rel='stylesheet')

block body
  .header
    .filter
      i.fa.fa-chevron-left
      i.fa.fa-filter
      p#filtertext
        | Filter
    .logo
      a(href="/")
        .logo-container
    .login
      a(href="#", id="open-login")
        | Login
      span 
        | | 
      a(href="#", id="open-register")
        | Register
    .hamburger
      i.fa.fa-bars
      i.fa.fa-times
      p#hamtext
        | Menu
    ul.menu-list
      li
        a(href="#", id="open-login")
          | Login
      li
        a(href="#", id="open-register")
          | Register
  #top
    #filter
      p.main-title
        | Filter
      .filter-container
        p.title
          | Distance
        #distance.range
        p.distance-text
          span#distance-read
          span
            |  miles
        p.title
          | Price
        input(type="checkbox", name="bid", class="checkbox", id="bid")
        label(for="bid", class="checkbox-label")
          | bid
        input(type="checkbox", name="buy", class="checkbox", id="buy")
        label(for="buy", class="checkbox-label")
          | buy
        #price.range
        p.distance-text
          span#price-from
          span
            |  – 
          span#price-to
        p.title
          | Quantity
        #quantity.range
        p.distance-text
          span#quantity-from
          span
            |  – 
          span#quantity-to
        p.title
          | Produce
        ul#produce
          li
            input(type="checkbox", name="carrot", class="checkbox", id="carrot")
            label(for="carrot", class="checkbox-label")
              | carrot
          li
            input(type="checkbox", name="cucumber", class="checkbox", id="cucumber")
            label(for="cucumber", class="checkbox-label")
              | cucumber
          li
            input(type="checkbox", name="apple", class="checkbox", id="apple")
            label(for="apple", class="checkbox-label")
              | apple
          li
            input(type="checkbox", name="apple", class="checkbox", id="apple")
            label(for="apple", class="checkbox-label")
              | apple
          li
            input(type="checkbox", name="apple", class="checkbox", id="apple")
            label(for="apple", class="checkbox-label")
              | apple
              
    #listings-container
      #listings
        li
          .image-medium
            img(src="public/img/brownstones.png")
          .info-container
            .user-info
              p.name.title
                | username
              p.rating
                | *****
              p.zip
                | 11229
              .distance.title
                | 5 mi
            .produce-info
              p.produce.title
                | Apples
              p.quantity
                span
                  | Quantity: 
                span#quantity
                  | 5
              p.bid
                span
                  | Bid Price: $
                span#bid
                  | 10
              p.buy
                span
                  | Buy Price: $
                span#buy
                  | 10
        li
          .image-medium
          .info-container
            .user-info
              p.name.title
                | username
              p.rating
                | *****
              p.zip
                | 11229
              .distance.title
                | 5 mi
            .produce-info
              p.produce.title
                | Apples
              p.quantity
                span
                  | Quantity: 
                span#quantity
                  | 5
              p.bid
                span
                  | Bid Price: $
                span#bid
                  | 10
              p.buy
                span
                  | Buy Price: $
                span#buy
                  | 10
          li
            .image-medium
            .info-container
              .user-info
                p.name.title
                  | username
                p.rating
                  | *****
                p.zip
                  | 11229
                .distance.title
                  | 5 mi
              .produce-info
                p.produce.title
                  | Apples
                p.quantity
                  span
                    | Quantity: 
                  span#quantity
                    | 5
                p.bid
                  span
                    | Bid Price: $
                  span#bid
                    | 10
                p.buy
                  span
                    | Buy Price: $
                  span#buy
                    | 10
            li
              .image-medium
              .info-container
                .user-info
                  p.name.title
                    | username
                  p.rating
                    | *****
                  p.zip
                    | 11229
                  .distance.title
                    | 5 mi
                .produce-info
                  p.produce.title
                    | Apples
                  p.quantity
                    span
                      | Quantity: 
                    span#quantity
                      | 5
                  p.bid
                    span
                      | Bid Price: $
                    span#bid
                      | 10
                  p.buy
                    span
                      | Buy Price: $
                    span#buy
                      | 10
block endscript
  script(src="public/js/nouislider.min.js")
  script(src="public/bower/five-star-rating/js/dist/rating.min.js")
  script(src="public/bower/jquery/dist/jquery.min.js")
  script(src="public/js/listings.js")
              
    
          
