extends layout.jade

block head
  title= "Home Screen"
  link(href='public/css/newlisting.css', rel='stylesheet')

block body
  .submission
    form.dropzone#pic-upload
      p.main-title.order1
        | List Produce
      p.error.order2
    
      p.title.order3
        | Type of Produce
      input.order4.input(type="text", name="produce-type", id="produce-type")
      p.title.order5
        | Picture Upload
      p.title.order7
        | Quantity
      input.order8.input(type="text", name="quantity", id="quantity")
      p.title.order9
        | Pricing
        .bid.order10
          .checkbox-container
            input(type="checkbox", name="bid", class="checkbox", id="bid")
            label(for="bid", class="checkbox-label")
              | Bid
          .price-container
            label(for="bid-price")
              | Minimum Bid
            input.input(type="text", name="bid-price", id="bid-price")
        .bid.order11
          .checkbox-container
            input(type="checkbox", name="buy", class="checkbox", id="buy")
            label(for="buy", class="checkbox-label")
              | Buy
          .price-container
            label(for="buy-price")
              | Buy Price
            input.input(type="text", name="buy-price", id="buy-price")
      .submit-button-container.order12
        button(id="submit-button", type="button")
          | Submit

block endscript
  script(src="public/bower/jquery/dist/jquery.min.js")
  script(src="public/js/dropzone.js")
  script(src="public/js/newlisting.js")
