extends layout.jade

block head
  title= "Product"
  link(href='../public/css/profile.css', rel='stylesheet')
  script(src="public/bower/jquery/dist/jquery.min.js")

block body
  .header
    .gap
    .logo
      a(href="/")
        .logo-container
    .login
      a(href="#")
        i.fa.fa-envelope-o
      span |
      a(href="/newlisting") New Listing
      span |
      a(href="#", id="open-login")
        | Login
      span
        | |
      a(href="#", id="open-register")
        | Register
    .hamburger
      i.fa.fa-bars
      i.fa.fa-times
      p#hamtext
        | Menu
    ul.menu-list
      li
        a(href="#", id="open-login")
          | Messages
      li
        a(href="#", id="open-login")
          | New Listing
      li
        a(href="#", id="open-login")
          | Login
      li
        a(href="#", id="open-register")
          | Register
  .top
    .user-info
      p#user
        | Captiosus
      p#email.inner
        | royxu652@gmail.com
      p#zipcode.inner
        | 11229
  .middle
    .listings-container
      .title-container
        p.title
          | Current Listings
      ul.listings
        li
          .image-medium
          .info-container
            p.produce.title
              | Apples
            .produce-info
              p.quantity
                span
                  | Quantity:
                span#quantity
                  | 5
              p.bid
                span
                  | Bid Price: $
                span#bid
                  | 10
              p.buy
                span
                  | Buy Price: $
                span#buy
                  | 10
        li
          .image-medium
          .info-container
            p.produce.title
              | Apples
            .produce-info
              p.quantity
                span
                  | Quantity:
                span#quantity
                  | 5
              p.bid
                span
                  | Bid Price: $
                span#bid
                  | 10
              p.buy
                span
                  | Buy Price: $
                span#buy
                  | 10
        li
          .image-medium
          .info-container
            p.produce.title
              | Apples
            .produce-info
              p.quantity
                span
                  | Quantity:
                span#quantity
                  | 5
              p.bid
                span
                  | Bid Price: $
                span#bid
                  | 10
              p.buy
                span
                  | Buy Price: $
                span#buy
                  | 10
        li
          .image-medium
          .info-container
            p.produce.title
              | Apples
            .produce-info
              p.quantity
                span
                  | Quantity:
                span#quantity
                  | 5
              p.bid
                span
                  | Bid Price: $
                span#bid
                  | 10
              p.buy
                span
                  | Buy Price: $
                span#buy
                  | 10
    .listings-gap
    .listings-container.bids-container
      .title-container
        p.title
          | Pending Transactions
      ul.listings
        li
          .image-medium
          .info-container
            p.produce.title
              | Apples
            .produce-info
              p.quantity
                span
                  | Quantity:
                span#quantity
                  | 5
              p.your-bid
                span
                  | Your Bid: $
                span#your-bid
                  | 10
              p.highest-bid
                span
                  | Highest Bid: $
                span#highest-bid
                  | 10
            .status-info
              p.title
                | Status
              .status-padding
                p.status
                  | Accepted
                a.button.message-seller(href="#")
                  | Message
                a.button.confirm(href="#")
                  | Confirm
        li
          .image-medium
          .info-container
            p.produce.title
              | Apples
            .produce-info
              p.quantity
                span
                  | Quantity:
                span#quantity
                  | 5
              p.your-bid
                span
                  | Your Bid: $
                span#your-bid
                  | 10
              p.highest-bid
                span
                  | Highest Bid: $
                span#highest-bid
                  | 10
            .status-info
              p.title
                | Status
              .status-padding
                p.status
                  | Accepted
                a.button.message-seller(href="#")
                  | Message
                a.button.confirm(href="#")
                  | Confirm
        li
          .image-medium
          .info-container
            p.produce.title
              | Apples
            .produce-info
              p.quantity
                span
                  | Quantity:
                span#quantity
                  | 5
              p.your-bid
                span
                  | Your Bid: $
                span#your-bid
                  | 10
              p.highest-bid
                span
                  | Highest Bid: $
                span#highest-bid
                  | 10
            .status-info
              p.title
                | Status
              .status-padding
                p.status
                  | Pending

  .bottom
    .user-reviews
      .title-container
        p.title
          | User Reviews
          span#rating
          | *****
      ul.review-list
        li
          p.review-header
            span.reviewer
              | bleepbloopsify
            span.rating
              |  *****
          p.review
            | Spit up on light gray carpet instead of adjacent linoleum climb leg unwrap toilet paper and howl uncontrollably for no reason get video posted to internet for chasing red dot so vommit food and eat it again eat and than sleep on your face.
        li
          p.review-header
            span.reviewer
              | bleepbloopsify
            span.rating
              |  *****
          p.review
            | Spit up on light gray carpet instead of adjacent linoleum climb leg unwrap toilet paper and howl uncontrollably for no reason get video posted to internet for chasing red dot so vommit food and eat it again eat and than sleep on your face.
        li
          p.review-header
            span.reviewer
              | bleepbloopsify
            span.rating
              |  *****
          p.review
            | Spit up on light gray carpet instead of adjacent linoleum climb leg unwrap toilet paper and howl uncontrollably for no reason get video posted to internet for chasing red dot so vommit food and eat it again eat and than sleep on your face.

block endscript
  script(src="public/js/profile.js")
