@import "style";

#plant-container {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 600px;
  background: url("../img/hangingpots.png") no-repeat top center;
  div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo {
    width: 300px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    padding-top: 60px;
    font-size: 30px;
  }
  #zipcode {
    width: 250px;
    text-align: center;
    margin-top: 50px;
    height: 83px;
    .button {
      width: 30px;
      background-color: white;
      line-height: normal;
      height: 32px;
    }
  }
  #login-button {
    width: 200px;
    text-align: center;
    margin-top: 70px;
    height: 67px;
  }
  #register-button {
    width: 150px;
    text-align: center;
    margin-top: 80px;
    height: 50px;
  }
}
