@import "style";

body {
  background: url("../img/brownstones.png") no-repeat bottom center;
  background-size: cover;
  min-height: 100vh;
}

#plant-container {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 600px;
  background: url("../img/hangingpots.png") no-repeat top center;
  div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo {
    width: 250px;
    height: 67.65px;
    background: url("../img/longlogo.png") no-repeat center center;
    background-size: contain;
    padding-top: 150px;
  }
  #zipcode {
    width: 250px;
    text-align: center;
    margin-top: 0px;
    height: 83px;
    flex-wrap: wrap;
    .error {
      color: black;
    }
    form {
      display: flex;
      align-items: center;
    }
    input {
      border: 3px solid green;
      background-color: $secondary;
      color: darkgreen;
      font-size: 18px;
      width: 150px;
      font-family: Open Sans;
      &::-webkit-input-placeholder {
        color: transparentize(darkgreen, 0.3);
        font-size: 14px;
        line-height: 20px;
      }
      &:-moz-placeholder {
         color: transparentize(darkgreen, 0.3);
         font-size: 14px;
         line-height: 20px;
      }
      &::-moz-placeholder {
        color: transparentize(darkgreen, 0.3);
        font-size: 14px;
        line-height: 20px;
      }
      &:-ms-input-placeholder {
         color: transparentize(darkgreen, 0.3);
         font-size: 14px;
         line-height: 20px;
       }
     }
    .button {
      width: 36px;
      margin-left: 10px;
      background-color: $secondary;
      line-height: normal;
      height: 36px;
      border: 3px solid green;
      color: darkgreen;
      font-weight: bold;
      font-size: 14px;
      font-family: Open Sans;
      &:hover {
        cursor: pointer;
      }
    }
  }
  #login-button {
    .button {
      background-color: $secondary;
      border: 3px solid green;
      color: darkgreen;
    }
    width: 200px;
    text-align: center;
    margin-top: 65px;
    height: 67px;
    font-weight: bold;
  }
  #register-button {
    .button {
      background-color: $secondary;
      border: 3px solid green;
      color: darkgreen;
    }
    width: 150px;
    text-align: center;
    margin-top: 77px;
    height: 50px;
    font-weight: bold;
  }
}
