body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif; }

.button {
  border: 1px solid black;
  color: black;
  width: 110px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none; }
  .button:focus {
    outline: none; }

.textbox {
  height: 30px;
  border: 1px solid black;
  text-align: center;
  padding: 0px; }
  .textbox:focus {
    outline: none; }

.image-large {
  height: 200px;
  width: 200px;
  background-color: lightblue; }

.image-medium {
  height: 160px;
  width: 160px;
  background-color: lightblue; }

.image-small {
  height: 80px;
  width: 80px;
  background-color: lightblue; }

.title {
  font-size: 18px;
  font-weight: bold; }

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0px 15px 0px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px; }
  .header .logo {
    text-align: center;
    flex-grow: 1;
    padding-left: 140px;
    font-size: 30px; }
    .header .logo a {
      color: black;
      text-decoration: none; }
  .header .login {
    width: 120px;
    padding-right: 20px; }
    .header .login a {
      color: black;
      text-decoration: none; }

.box, #login, #register, #filter, #listings-container {
  border: 10px solid lightgreen;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23); }

#login {
  width: 250px;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  margin-top: 100px;
  padding: 30px 50px 30px 50px;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  display: none; }
  #login label {
    display: block;
    margin-bottom: 5px; }
  #login input {
    margin-bottom: 10px;
    width: 226px;
    height: 25px;
    padding: 2px 10px 2px 10px; }
    #login input:focus {
      outline: none; }
  #login .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 3px solid lightgreen; }
  #login .exit {
    color: black;
    text-decoration: none;
    color: gray;
    margin-top: -25px;
    margin-right: -30px;
    float: right;
    font-size: 20px; }

#register {
  width: 250px;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  margin-top: 100px;
  padding: 30px 50px 30px 50px;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  display: none; }
  #register label {
    display: block;
    margin-bottom: 5px; }
  #register input {
    margin-bottom: 10px;
    width: 226px;
    height: 25px;
    padding: 2px 10px 2px 10px; }
    #register input:focus {
      outline: none; }
  #register .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 3px solid lightgreen; }
  #register .exit {
    color: black;
    text-decoration: none;
    color: gray;
    margin-top: -25px;
    margin-right: -30px;
    float: right;
    font-size: 20px; }

#cover {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  display: none; }

body {
  background-color: #F5F4F4; }

#top {
  display: flex;
  justify-content: center; }

#filter {
  width: 230px;
  height: 450px;
  margin-right: 30px; }
  #filter .filter-container {
    height: 370px;
    padding: 10px 30px 0px 30px;
    overflow: scroll; }
  #filter .title {
    border-bottom: 1px solid lightgray;
    margin: 10px 0px 0px 0px; }
  #filter #distance {
    background-color: lightgreen; }
  #filter .distance-text {
    text-align: right; }
  #filter .range {
    width: 170px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: none;
    border: none;
    height: 5px; }
    #filter .range .noUi-handle {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      left: -7px;
      top: -5px; }
      #filter .range .noUi-handle::before {
        content: none; }
      #filter .range .noUi-handle::after {
        content: none; }
    #filter .range .noUi-background {
      background-color: lightgray;
      box-shadow: none; }
  #filter #price {
    background-color: lightgray; }
    #filter #price .noUi-connect {
      background-color: lightgreen;
      box-shadow: none; }
  #filter #price {
    margin-top: 20px; }
    #filter #price input {
      width: 30px; }
  #filter #quantity {
    background-color: lightgray; }
    #filter #quantity .noUi-connect {
      background-color: lightgreen;
      box-shadow: none; }
  #filter #produce {
    list-style-type: none;
    padding: 0px; }
    #filter #produce li {
      margin-bottom: 6px; }
  #filter .checkbox {
    opacity: 0;
    position: absolute; }
  #filter .checkbox, #filter .checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer; }
  #filter .checkbox + .checkbox-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    text-align: center; }
  #filter .checkbox:checked + .checkbox-label:before {
    background: lightgreen;
    box-shadow: inset 0px 0px 0px 4px #fff; }
  #filter .filter-button-container {
    text-align: center;
    margin-bottom: 10px;
    border-top: 1px solid lightgray;
    padding-top: 12px;
    width: 200px;
    margin-left: auto;
    margin-right: auto; }
  #filter #filter-button {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 6px 30px 6px 30px;
    color: black;
    background-color: white;
    border: 5px solid lightgreen; }

#listings-container #listings {
  list-style-type: none;
  overflow: scroll;
  height: 450px;
  width: 800px;
  background-color: lightgreen; }
  #listings-container #listings li {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23); }
    #listings-container #listings li p {
      margin: 10px 0px 10px 0px; }
    #listings-container #listings li .info-container {
      flex-grow: 1;
      display: flex; }
      #listings-container #listings li .info-container .user-info {
        flex-grow: 1;
        padding-left: 30px; }
      #listings-container #listings li .info-container .produce-info {
        flex-grow: 1;
        text-align: right;
        padding-right: 30px; }
    #listings-container #listings li:last-child {
      margin-bottom: 0px; }

/*# sourceMappingURL=listings.css.map */
